.sessionList .session {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  padding-top: 2em !important;
}

.sessionList .sessionTitle h2 {
  margin-bottom: 0px;
  border-bottom: dotted 1px;
}

.sessionList .speakerLink {
  display: flex;
  margin-top: 8px;
}

.sessionList .presentedBy {
  font-weight: bold;
  margin-right: 4px;
}