.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.no-social {
  margin-top: 0.85em;
}

.speakerSlug {
  border-bottom: none;
}